---
import PortfolioItem from "../../components/PortfolioItem/PortfolioItem.astro";
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout>
    <div class="w-full grid place-items-center">
        <div
            class="rounded-xl w-[95%] lg:w-[80%] mt-24 py-[4.25rem] lg:py-24 text-center bg-black text-3xl sm:text-4xl lg:text-5xl relative z-[1] after:z-[-1] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[url('/assets/portfolio_card.webp')] after:bg-cover after:bg-center after:bg-no-repeat after:rounded-xl after:opacity-[.0875]"
        >
            Projects
        </div>
    </div>
    <div class="w-3/4 lg:w-[30%] mx-auto mt-8 mb-[-1rem] lg:mb-[-3rem]">
        <h5
            class="text-center flex flex-row before:mr-2.5 after:ml-2.5 before:flex-1 before:m-auto before:border-b before:border-solid after:flex-1 after:m-auto after:border-b after:border-solid before:opacity-[.375] after:opacity-[.375]"
        >
            Marcel Gańczarczyk
        </h5>
    </div>
    <div>
        <PortfolioItem
            title="UBB Timetable"
            descriptionPrimary="An unofficial timetable that allows you to easily view the timetable of the University of Bielsko-Biała. Automatically synchronises changes made to the timetable. Written with ease of use in mind. Downloaded over 400 times within one academic year. 😎"
            technologies="Flutter・Dart・Python・MariaDB"
            availability="Android・WEB (soon)・Windows (soon)"
            displayMoreDetailsButton={true}
            moreDetailsHref="/projects/ubb-timetable"
            imageURL="/assets/ubb_timetable/ubb-1.webp"
        />
        <PortfolioItem
            title="Collection of questions for IT technician exams"
            descriptionPrimary="A collection of questions with answers for the IT technician exams. All presented on one page, without the need for unnecessary navigation. Many of the questions available there are ranked high in positioning by Google. The site is most visited in January and June - the exam months. 💪"
            technologies="React・MariaDB"
            availability="WEB"
            displayMoreDetailsButton={true}
            moreDetailsHref="/projects/it-technician-exams"
            imageURL="/assets/it_technician_exams/it-1.webp"
        />
        <PortfolioItem
            title="Auto Avatar Cropper"
            descriptionPrimary="A website that allows you to automatically crop faces from images using artificial intelligence. The trained model returns a square image with the face cropped 1:1. The model works very well with images of people, but should also recognize faces of anime characters. It's completely free and without ads. 🤖"
            technologies="React・Python・PyTorch"
            availability="WEB"
            displayMoreDetailsButton={true}
            moreDetailsHref="/projects/auto-avatar-cropper"
            imageURL="/assets/auto_avatar_cropper/aac-1.webp"
        />
        <PortfolioItem
            title="Tairiku"
            descriptionPrimary="A service that indexes and collects anime graphics into a database. There is also an API that returns a random graphic from the database with information about that graphic (width, height, source, hash), and a website and smartphone app for viewing and possibly saving those graphics to disk. An ideal application when we need an 'image placeholder'. The database contains over 4 million records collected continuously for over 5 years from sites such as Reddit/Imgur. 🖼️"
            technologies="React・Python・MariaDB"
            availability="WEB・Android"
            displayMoreDetailsButton={true}
            moreDetailsHref="/projects/tairiku"
            useBlurhashImageComponent={true}
        />
    </div>
</MainLayout>
